<label for="select-action">Tu veux </label>
<select id="select-action" (change)="choisirAction($event)">
  @for (btn of optionActions$ | async; track btn) {
    <option
      [selected]="btn.selected"
      [label]="btn.label"
      [value]="btn.value"
    ></option>
  }
</select>

<label for="select-nombre"> la table des </label>
<select id="select-nombre" (change)="choisirNombre($event)">
  @for (btn of optionNombres$ | async; track btn) {
    <option
      [selected]="btn.selected"
      [label]="btn.label"
      [value]="btn.value"
    ></option>
  }
</select>
<hr />
<!--

TODO: afficher les statistiques de révisions pour chaque table. Calculer un
score basé sur ce qui a été vu (si on a eu comme question chaque opération de
la table), et connu (si on a bon à toutes les opérations) sur 10, et la
rapidité (min/moy/max pour l'ensemble des opérations).

-->
