/* Add application styles & imports to this file! */
@import url('@picocss/pico/css/pico.min.css');

.boot-loader {
  padding-top: 40%;
  text-align: center;
  font-size: x-large;
}

:root {
  --primary: #f4511e;
}
